body{
text-align:center;
background-image:linear-gradient(pink,lavender,white,lavender);
width: 30%;
margin: auto;
margin-right: auto:
}
button{
  background-color:white rgb(224,241,237);
}
        
